/*******************************************
FONTS
*******************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: 'elemental_endregular';
  src: url('/element-font/elemental_end-webfont.woff2') format('woff2'),
       url('/element-font/elemental_end-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blupurplregular';
  src: url('/blupurp-font/blupurpl-personaluse-webfont.woff2') format('woff2'),
       url('/blupurp-font/blupurpl-personaluse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

p{
    font-family: 'Montserrat', sans-serif;
}

h1,h3 {
  font-family: 'blupurplregular', sans-serif;
  letter-spacing: 3px;
}

h3 {
  font-size: 3.5rem;
}

/*******************************************
MAIN ELEMENT STYLES
*******************************************/

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

header {
  position: relative;
}

body {
  background: linear-gradient(to bottom, transparent, white 90% ), url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")center;
  background-size: cover;
}

.wrapper {
  left: 0;
  height: 100%;
}

footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

/*******************************************
HEADER STYLE
*******************************************/

.main-banner {
    
    /* padding: 0;
    position: relative;
    display:inline-block;
    /* text-align: center; */
    /* animation: opaque 5s ease;
    z-index: 1;  */

    background: linear-gradient(to bottom, transparent, white 90% ), url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")center no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    margin: 0 auto;
    height: 13rem;
    width: 100%;
    /* z-index: -1; */
}

.header-img {
    /* background: linear-gradient(to bottom, transparent, white 90% ), url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")center no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    margin: 0 auto;
    height: 15rem;
    width: 100%;
    z-index: -1; */
}

.alex1 {
  position: absolute;
  top: 60%;
  right: -10px;
  background: url('../img/alex_shred2.png') no-repeat top;
  background-size: contain;
  opacity: 1;
  padding-top: 70%;
  width: 50%;
  z-index: 3;
}

.alex2 {
  position: absolute;
  top: 45%;
  right: -30px;
  background: url('../img/alex_shred2.png') no-repeat top;
  background-size: contain;
  opacity: 1;
  padding-top: 70%;
  width: 50%;
  z-index: 1;
}


.first-letter {
  background: linear-gradient(to bottom, rgb(249, 123, 6, 0.6), transparent), 
  url('../img/gradient-dark-stripe-hz.png') center repeat-x;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
  font-weight: 900;
  /* text-shadow: 0 5px 0 rgba(255, 255, 255, 0.4); */
}
.title {
    border: 2px solid rgba(87, 44, 3, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 .9px 0 rgba(36, 15, 1, 0.4);
    margin: 0 auto;
    position: relative;
    top: 25%;
    padding: .2rem;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    transition: all 0.5s ease;
    width: 60%;
    z-index: 2;
}

.sticky-title {
  background-color:rgba(218, 121, 31, 0.9);
  border: none;
  font-size: .5em;
  /* margin-top: 10px; */
  position: fixed;
  top: 0;
  /* left: 30px; */
  text-align: center;
  width: 100%;
  z-index: 98;
}

/*******************************************
MOBILE NAVIGATION STYLE
*******************************************/

.nav-button {
  border: 10px black;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px 0 0 3px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-button span {
  display: block;
  position: absolute;
  height: 4px;
  width: 40px;
  background: black;
  /* border-radius: 9px; */
  opacity: 1;
  left: 10px;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-button span:nth-child(1) {
  top: 15px;
}
.nav-button span:nth-child(2),
.nav-button span:nth-child(3) {
  top: 25px;
}
.nav-button span:nth-child(4) {
  top: 35px;
}

.nav-button.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.sticky-nav-button {
  background-color: rgba(10,6,6,.9);
  background-size: contain;
  margin: 0 auto;
  padding-top: 3.4rem;
  position: fixed;
  top: 1em;
  left: 0;
  width: 60px;
  z-index: 99;
}

.sticky-nav-button span {
  background: whitesmoke;

}

.menu {
  display: flex;
  flex-direction: column;
  font-family: 'blupurplregular', sans-serif;
  font-size: 1.5rem;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  visibility: hidden;
  width: 100%;
  max-width: 0;
  z-index: 99;
}

.menu-show {
  max-width: 100%;
  visibility: visible;
}

.sticky-mobile {
  background-color:rgba(218, 121, 31, 0.9);
  color: #999;
  position: fixed;
  bottom: 0
}

.nav-item, .nav-logo {
  box-shadow: inset 0 1px 0 #111, 0 2px 0 #666;
  
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: black;
  padding: 10px;
  text-align: center;
}

.nav-item a {
  
  text-decoration: none;
}

.nav-item {
  
}

/*******************************************
BIO STYLE
*******************************************/
.bio {
  background-size: contain;
  position: relative;
}

/* .float-invisible {
  float: right;
  width: 40%;
  padding-top: 10em;
} */

.invisible-block {
  float: right;
  width: 40%;
  padding-top: 10em;

}

.bio-clip1,
.bio-clip2 {
  position: relative;
  z-index: 2;
}

.bio-clip1 {
  display: block;
  width: 100%;
  /* background-color: rgba(218, 121, 31, 0.9); */
  margin: 2em 0;
  text-align: left;
}

.bio-clip2 {
  display: inline-block;
}

.bio-pic {
  background: url('../img/alex_shred2.png') no-repeat center;
  background-size: contain;
  background-attachment: fixed;
  margin: 2em 0;
  padding-top: 20em;
}

.bio-pic2 {
  display: inline-block;
  background: url('../img/IMG_6857.JPG') no-repeat center;
  background-size: cover;
  width: 100%;
  padding-top: 20em;
}



/*******************************************
FOOTER STYLE
*******************************************/

.social {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
	padding-bottom: .5rem;
	width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a {
    background-color: transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: .5rem;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    z-index: 79;
  }
  .social a:hover {
    box-shadow: inset 35px 35px 0px white;
  }
  .twitter {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 42px;
    background: url('../img/social/03-twitter.svg') center no-repeat;
    background-size: 100%; 
    background-size: contain;
  }
  .insta {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/social/38-instagram.svg') center no-repeat;
    background-size: contain;
  }
  .linkdin {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/social/11-linkedin.svg') center no-repeat;
    background-size: contain;
  }
  .github {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-top: 42px;
    background: url('../img/41-github.svg') center no-repeat;
    background-size: contain;
  }

  /*******************************************
  KEYFRAMES
*******************************************/
  
@keyframes disolve {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opaque {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

/*******************************************
  MEDIA QUERIES
*******************************************/
@media screen and ( max-width: 425px) {
  .first-letter {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

@media screen and ( min-width: 767px ) {

  .first-letter {
    font-size: 6rem;
  }

  h3 {
    font-size: 6rem;
  }

  .title {
    margin-bottom: .3em;
    width: 60%;
    top: 20%;
  }

  .nav-button {
    visibility: hidden;
  }

  #menu {
    /* background:rgba(218, 121, 31, 0.7); */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    z-index: 99;
  }

  .sticky-nav-bar {
    position: fixed;
    top: 0;
    left: 10%;
  }

  .nav-item {
    background:rgba(218, 121, 31, 0.7);
    box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.3);
    margin: 0 .3em;
    padding: 0;
    width: 100%;
  }

  .nav-item:hover,
  .active {
    box-shadow: -5px 13.5px 8px -4px rgba(0,0,0,.2),  .5px 9px 0 rgba(102,102,102,1),   
                      inset 0 -6px 0 rgba(0,0,0,0.3), 
                      inset 0 2px 5px rgba(255,255,255,0.4), 0.5px 12px 5px rgba(0,0,0,1);
  }

  .invisible-block {
    padding-top: 20em;
  }

  .bio-clip1 {
    float: left;
    width: 50%;
  }

  .bio-clip2 {
    float: right;
    width: 50%;
  }

  .bio-pic {
    background-attachment: scroll;
    float: right;
    padding-top: 20em;
    width: 40%;
  }

  .bio-pic2 {
    float: left;
    width: 40%;
  }

}